.a-text:hover{
    padding: 5px;
    color: white;
    background-color: #0A58CC;
    border-radius: 5px;
    transition-duration: .2s;
    text-decoration: none;
}
.img-estudios{
    transition: transform 0.3s ease;
    cursor: pointer;
}
.img-estudios:active{
    transform: scale(1.7);
}

.btn:hover{
    background-color: black;
    color: white;
    transition-duration: .2s;
}