.body-estudios {
  padding: 100px;
}

.p-estudios {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px; 
  text-align: justify;
}

.h1-estudios {
  text-align: center;
  padding-top: 20px;
  font-size: 60px;
  text-decoration: underline;
}

.h1-estudios:first-letter {
  font-size: 100px;
}


/* Ajuste para pantallas chicas (celulares) */
@media (max-width: 576px) {
  .h1-estudios {
    font-size: 1.5rem;
  }

  .p-estudios {
    font-size: 0.9rem; 
    line-height: 1.4;
  }

  .a-text {
    font-size: 0.9rem;
  }
}
/* Ajuste para pantallas chicas (celulares) */
@media (max-width: 576px) {
  .h1-estudios {
    font-size: 1.5rem;
  }
  .p-estudios {
    font-size: 0.9rem;
    line-height: 1.4;
  }
  .a-text {
    font-size: 0.9rem;
  }
}


